/* Add this to your CSS file */
.icon-edit {
    color: #007bff; /* or any color you want */
    font-size: 16px; /* or any size you want */
  }
  
  .icon-trashcan {
    color: #dc3545; /* or any color you want */
    font-size: 16px; /* or any size you want */
  }
  